*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  background: url(./background.jpg);
  background-size: cover;
}

canvas {
  border: 30px solid #e80000;
  border-radius: 10px;
  width: 800px;
  height: 500px;
  background: white;
}

button.shake {
  cursor: pointer;
  color: white;
  background: hsl(332, 100%, 40%);
  border-radius: 5px;
  padding: .625rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-size: 1.25rem;
  margin-top: .3125rem;
}

button.shake:hover {
background: hsl(332, 100%, 50%);
}

canvas.shake {
  animation: shake 0.5s linear 1;
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}